table {
     width: 100%;
}

/* #btn-acciones {
    border-radius: 25px; 
} */

#input{
    border-radius:25px;
}

#btn-filter{
    padding: 0;
    border: none;
    background: none;
    outline: none;
    }

    th{
        background-color: #1DA4B7;
        color: white;
        text-align: center !important;
    }
    
    td{
        text-align: center;
      }