<div class="row">
     <div class="col">
       <h4 class="float-left">Listado de Codigos</h4>
     </div>
   </div>
   <div class="row">
    <mat-form-field class="pr-3 col-3"> 
      <input matInput class="form-field col-1" [formControl]="filtroCodigo" placeholder="Buscar Codigo">
    </mat-form-field>
    <button type="button" id="btn-filter"><i class=" ml-3 far fa-times-circle fa-2x" (click)="LimpiarFiltros()"></i></button>
   </div>
   
   <div class="mat-elevation-z3">
     <table mat-table [dataSource]="dataSource"  class="mat-elevation-z0 table-striped">
   
      
       <ng-container matColumnDef="Codigo">
         <th mat-header-cell *matHeaderCellDef> Ot </th>
         <td mat-cell *matCellDef="let ot"> {{ot.Codigo}} </td>
       </ng-container>

       <ng-container matColumnDef="HorasPresupuestadas">
         <th mat-header-cell *matHeaderCellDef> Horas presupuestadas </th>
         <td mat-cell *matCellDef="let ot"> 
          <div *ngIf="ot.HorasPresupuestadas!='00:00:00'; else hp_vacio">{{ot.HorasPresupuestadas}}</div>
      <ng-template #hp_vacio>
       -
      </ng-template>
      

          </td>
       </ng-container>

       <ng-container matColumnDef="HorasTrabajadas"> 
         <th mat-header-cell *matHeaderCellDef>Horas trabajadas</th>
         <td mat-cell *matCellDef="let ot"> {{ot.HorasTrabajadas}} </td>
       </ng-container>

       <ng-container matColumnDef="Balance">
         <th mat-header-cell *matHeaderCellDef> Balance </th>
         


         <td mat-cell *matCellDef="let ot"> 
          <div *ngIf="ot.HorasPresupuestadas!='00:00:00'; else balance_vacio">{{ot.Balance}}</div>
      <ng-template #balance_vacio>
       -
      </ng-template>
      

          </td>

       </ng-container>
   

       <ng-container matColumnDef="Acciones">
         <th mat-header-cell *matHeaderCellDef> Acciones </th>
         <td mat-cell *matCellDef="let ot">
           
          <button type="button" class="btn btn-success m-2" data-toggle="modal"
             data-target="#modalAgregarHP" (click)="getid(ot.IdOt)"><i class="fas fa-clock"></i></button>

           <button type="button" class="btn btn-danger m-2" data-toggle="modal"
             data-target="#modalEliminar" (click)="getid(ot.IdOt)"><i class="fas fa-trash"></i></button> 
             
         </td>
       </ng-container>
   
   
       <tr mat-header-row *matHeaderRowDef="Columnas"></tr>
       <tr mat-row *matRowDef="let row; columns: Columnas;"></tr>
     </table>
     <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
   </div> 
   
   
   
   <!-- Modal -->
   <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Codigo</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           ¿Esta seguro que desea eliminar este Codigo?
           Al hacerlo, los trabajos y pausas relaciondas con este codigo ya no seran visibles.
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
           <button type="button" class="btn btn-danger" (click)="closeOt()"
             data-dismiss="modal">Eliminar</button>
         </div>
       </div>
     </div>
   </div>

   <div class="modal fade" id="modalAgregarHP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" 
     aria-hidden="true"  data-backdrop="static">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">Agregar horas presupuestadas</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiarModalHP()">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
          <div class="form-group">
                         <label  class="col-form-label">Ingresar horas presupuestadas para esta ot</label>
                         <input type="number" class="form-control" autofocus (input)="verificarHP($event)" [(ngModel)]="hPresupuestadas_">
            </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarModalHP()">Cancelar</button>
           <button type="button" class="btn btn-success"
             data-dismiss="modal" [disabled]="btnHP" (click)="agregarHP()">Agregar</button>
         </div>
       </div>
     </div>
   </div>